# Variables de entorno
.env
backend/.env

# Entorno virtual de Python
backend/venv/

# Cache de Python
__pycache__/
*.py[cod]

# Archivos de VS Code
.vscode/

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Archivos del sistema
.DS_Store
Thumbs.dbtraefik/acme.json
traefik/acme.json
